/* natural box model */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* UTILITIES */

/* hides an element on screen, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}

/* 
    ABOUT ME TYPOGRAPHY
*/
h2 {
    margin: 1.5em auto 0;
    padding-bottom: 0.25em;
    width: 60%;
    text-align: center;
    font-size: 45px;
    border-bottom: 2px solid black;
}

p {
    font-size: 20px;
}

/* 
    HEADER
*/
header {
    /* Header Formatting */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    margin: 0em auto 4em;

    /* Header Styling */
    background-color: var(--light-blue);
    border-bottom: 10px solid black;
}

.aboutme-header {
    /* Header Formatting */
    position: relative;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-size: 35px;

    /* Header Styling */
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: 10px 10px 0 var(--dark-blue);
    color: black;
}

/* 
    GROWING UP & HOBBIES AND INTERESTS
*/
.growingup {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.text-chunk {
    width: 40%;
    margin-bottom: 2em;
    line-height: 2em;
}

.growingup-img {
    width: 40%;
    text-align: center;
}

/* 
    ZIONSVILLE IMAGES
*/
.zstreet-img1 {
    background: url("../images/zstreet-img1.jpg") no-repeat;
}

.gazeebo-img1 {
    background: url("../images/gazeebo-img1.jpg") no-repeat;
}

.park-img1 {
    background: url("../images/park-img1.jpg") no-repeat;
}

.zville-img {
    margin: 2em 0;
    background-size: cover;
    height: 282px;
    border: 1px solid black;
    box-shadow: 10px 10px 0 var(--light-green);
}

/* 
    MEDIA
*/
/* Flex Rows */
.media-row {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* Media Cards */
.media-card {
    width: 50%;
}

.media-card h3 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.media-card h4 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0.5em;
    font-style: italic;
}

/* Media Text */
.media-text {
    margin: 1em auto;
    padding-left: 0.5em;
    width: 80%;
    font-size: 20px;
    border-left: 5px solid var(--light-blue);
}

/* Media Images */
.media-img {
    margin: 0 auto;
    width: 80%;
    height: 300px;
    border: 1px solid black;
    border-radius: 1%;
    box-shadow: 10px 10px 0 var(--light-blue);
}

.fox-img {
    background: url("../images/fox-img2.jpg") no-repeat;
    background-size: 100%;
    background-position: 10% 15%;
}

.arcane-img {
    background: url("../images/arcane-img1.jpg") no-repeat;
    background-size: 100%;
    background-position: 100%;
}

.storm-img {
    background: url("../images/storm-img.jpg") no-repeat;
    background-size: 100%;
    background-position: 100%;
}

.wilds-img {
    background: url("../images/wilds-img.jpg") no-repeat;
    background-size: 100%;
    background-position: 15%;
}

/* 
    VALUES
*/
.values {
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

.values p {
    border-left: 2px solid var(--light-blue);
    padding-left: 0.5em;
}

@media (min-width: 0px) {
    .aboutme-header {
        font-size: 22px;
    }
    h2 {
        font-size: 35px;
    }
    .growingup {
        flex-flow: column-reverse;
        align-items: center;
    }
    .growingup-img {
        width: 80%;
    }
    .text-chunk {
        width: 80%;
    }
    .media-text {
        font-size: 15px;
    }
    .media-img {
        height: 100px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .aboutme-header {
        font-size: 26px;
    }
    h2 {
        font-size: 35px;
    }
    .growingup {
        flex-flow: column-reverse;
        align-items: center;
    }
    .growingup-img {
        width: 80%;
    }
    .text-chunk {
        width: 80%;
    }
    .media-text {
        font-size: 17px;
    }
    .media-img {
        height: 100px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .aboutme-header {
        font-size: 30px;
    }
    h2 {
        font-size: 40px;
    }
    .growingup {
        flex-flow: column-reverse;
        align-items: center;
    }
    .growingup-img {
        width: 80%;
    }
    .zville-img {
        background-position: 0% 50%;
    }
    .text-chunk {
        width: 80%;
    }
    .media-text {
        font-size: 17px;
    }
    .media-img {
        height: 200px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .aboutme-header {
        font-size: 35px;
    }
    h2 {
        font-size: 40px;
    }
    .growingup {
        flex-flow: row nowrap;
        align-items: center;
    }
    .growingup-img {
        width: 40%;
    }
    .zville-img {
        background-position: initial;
    }
    .text-chunk {
        width: 40%;
    }
    .media-text {
        font-size: 20px;
    }
    .media-img {
        height: 200px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .media-img {
        height: 300px;
    }
}