/* 
    LESSON CARD IMAGES
*/
.SP24-lesson1-img {
    background: url("../images/TeachITLessons/SP24-lesson1.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.SP24-lesson2-img {
    background: url("../images/TeachITLessons/SP24-lesson2.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.SP24-lesson3-img {
    background: url("../images/TeachITLessons/SP24-lesson3.jpg") no-repeat;
    background-size: cover;
    background-position: 60% 100%;
}

.SP24-lesson4-img {
    background: url("../images/TeachITLessons/SP24-lesson4.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.SP24-lesson5-img {
    background: url("../images/TeachITLessons/SP24-lesson5.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.SP24-lesson6-img {
    background: url("../images/TeachITLessons/SP24-lesson6.jpg") no-repeat;
    background-size: cover;
    background-position: 34% 50%;
}

.SP24-lesson7-img {
    background: url("../images/TeachITLessons/SP24-lesson7.jpg") no-repeat;
    background-size: cover;
    background-position: 34% 50%;
}