@font-face {
    font-family: 'Aileron';
    src: url('Fonts/Aileron-Light.otf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Aileron';
    src: url('Fonts/Aileron-Regular.otf') format('otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Aileron';
    src: url('Fonts/Aileron-Bold.otf') format('otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Aileron';
    src: url('Fonts/Aileron-Black.otf') format('otf');
    font-style: normal;
    font-weight: 900;
}

body {
    font-family: 'Aileron', 'Times New Roman', Times, serif;
}