/* 
    LESSON CARD IMAGES
*/
.FA23-lesson1-img {
    background: url("../images/TeachITLessons/FA23-lesson1.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.FA23-lesson2-img {
    background: url("../images/TeachITLessons/FA23-lesson2.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.FA23-lesson3-img {
    background: url("../images/TeachITLessons/FA23-lesson3.jpg") no-repeat;
    background-size: cover;
    background-position: 60% 100%;
}

.FA23-lesson4-img {
    background: url("../images/TeachITLessons/FA23-lesson4.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.FA23-lesson5-img {
    background: url("../images/TeachITLessons/FA23-lesson5.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.FA23-lesson6-img {
    background: url("../images/TeachITLessons/FA23-lesson6.jpg") no-repeat;
    background-size: cover;
    background-position: 34% 50%;
}

.FA23-lesson7-img {
    background: url("../images/TeachITLessons/FA23-lesson7.jpg") no-repeat;
    background-size: cover;
    background-position: 34% 50%;
}

.FA23-lesson8-img {
    background: url("../images/TeachITLessons/FA23-lesson8.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.FA23-lesson9-img {
    background: url("../images/TeachITLessons/FA23-lesson9.jpg") no-repeat;
    background-size: cover;
    background-position: 34% 50%;
}

.FA23-lesson10-img {
    background: url("../images/TeachITLessons/FA23-lesson10.jpg") no-repeat;
    background-size: cover;
    background-position: 34% 50%;
}